{
    "swagger": "2.0",
    "info": {
        "title": "BicCD api文档",
        "contact": {
            "name": "ZiJiaGao",
            "email": "boringmanman@qq.com"
        },
        "version": "0.1"
    },
    "host": "bic-cd.farmergao.cn",
    "paths": {
        "/bic-cd/admin/v1/auth/": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth-Service"
                ],
                "summary": "获取token",
                "parameters": [
                    {
                        "description": "body 参数",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api.RequestAuth"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/gen.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/api.ResponseAuth"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "header need Authorization data",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "no api permission or no obj permission",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/bic-cd/manager/v1/services/": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Manager-Service"
                ],
                "summary": "获取服务列表",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "参数无注释",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "参数无注释",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/gen.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/api.ResponseGetService"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "header need Authorization data",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "no api permission or no obj permission",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "api.RequestAuth": {
            "type": "object",
            "required": [
                "password",
                "username"
            ],
            "properties": {
                "password": {
                    "description": "@gotags: validate:\"required\"",
                    "type": "string"
                },
                "username": {
                    "description": "@gotags: validate:\"required\"",
                    "type": "string"
                }
            }
        },
        "api.ResponseAuth": {
            "type": "object",
            "properties": {
                "token": {
                    "description": "token",
                    "type": "string"
                },
                "token_refresh": {
                    "description": "刷新token",
                    "type": "string"
                },
                "username": {
                    "description": "用户名",
                    "type": "string"
                }
            }
        },
        "api.ResponseGetService": {
            "type": "object",
            "properties": {
                "page": {
                    "type": "integer"
                },
                "page_size": {
                    "type": "integer"
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "gen.Response": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {},
                "detail": {
                    "type": "string"
                }
            }
        }
    }
}